exportPattern("^[[:alpha:]]+")
importFrom("tools", "dependsOnPkgs")
importFrom("utils", "read.csv", "available.packages", "contrib.url",
           "download.packages", "globalVariables")
importFrom("liteq", "ensure_queue", "publish", "list_messages",
           "try_consume", "ack", "requeue_failed_messages")
importFrom("DBI", "dbConnect", "dbExecute", "dbWriteTable", "dbGetQuery")
importFrom("crayon", "red", "green", "blue")
importFrom("data.table", "setDT")
importFrom("RSQLite", "SQLite")
importFrom("config", "get")
