exportPattern("^[[:alpha:]]+")
importFrom("utils", "read.csv", "available.packages", "contrib.url")
importFrom("liteq", "ensure_queue", "publish", "list_messages")
importFrom("config", "get")
importFrom("data.table", "setDT")
import(DBI, RSQLite)
